<!DOCTYPE html>
<html>
	<head>
		<title>BATTLESHIPS</title>
		<link href="/css/style.css" rel="stylesheet">
		<script></script>
	</head>
	<body>
		<h1>BATTLESHIPS</h1>
		<h2><%= session[:message] %></h2>
		<form name="new_game" id="new_game" action="/" method="GET">
			<input type="submit" id="submit" name="new_game" value="new game">
		</form>
	</body>
</html>

