
<div class="buttons-container">
	<form action='/' method='POST'>
	 	<button class="button" id="start-button" autofocus>Start</button>
	</form>
</div>
<div class="preview-grid">
	<input class="legend color-white" type='button' value=' ' disabled>
	<% for i in 1..10 %>
		<input class="legend color-white" type='button' value="<%= i %>" disabled>
	<% end %><br/>
	<% for i in "A".."J" %>		
		<input class="legend color-white" type='button' value="<%= i %>" disabled>
		<% for j in 1..10 %>
			<input class='coord' type='button' value="<%= i.to_s+j.to_s %>" disabled>		
		<% end %><br/>
	<% end %><br/>
</div>

