
<div class="buttons-container">
	<form action='/' method='POST'>
	 	<button class="button" id="start-button" autofocus>Start</button>
	</form>
</div>

<div class="preview-grid">
	<img src='images/battleship_pic.jpg' border="0" width="450px" height="450px">
</div>
