<!DOCTYPE html>
<html>
	<head>
		<title>BATTLESHIPS</title>
		<link href="/css/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="page-title">
			<p>BATTLESHIPS</p>
		</div>
		<div class="session-message-container">
			<p><%= session[:message] %></p>
		</div>
		<div class="main-body">
			<%= yield %>
		</div>
	</body>
</html>

