<!DOCTYPE html>
<html>
	<head>
		<title>BATTLESHIPS</title>
		<link href="/css/style.css" rel="stylesheet">
	</head>
	<body>
		<h1>BATTLESHIPS</h1>
		<h3><%= session[:message] %><h3>

		<%= yield %>

	</body>
</html>

