<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link href="/css/style.css" rel="stylesheet">
		<script></script>
	</head>
	<body>
		<h1>BATTLESHIPS</h1>
		<h2><%= session[:message] %></h2>
		<form name="lets_play" id="lets_play" action="/player_turn" method="POST">
			<input type="submit" id="submit" name="continue" value="continue">
		</form>
	</body>
</html>

