<!DOCTYPE html>
<html>
	<head>
		<title>BATTLESHIPS</title>
		<link href="/css/style.css" rel="stylesheet">
		<script></script>
	</head>
	<body>
		<h1>BATTLESHIPS</h1>
		<h2><%= session[:message] %></h2>
		<form name="lets_play" id="lets_play" action="/player_turn" method="POST">
	 		<button id="button" autofocus>continue</button>
		</form>
	</body>
</html>

