
<form name="setup_grid" id="setup_grid" action='/place_ship' method='POST'>
	<div class="setup-buttons-container">
		<select id="selected_ship" name="selected_ship" onChange="ship_size=this.value; ship_type.value=this.options[this.selectedIndex].text;">
			<option value="1" selected>submarine</option>
			<option value='2'>destroyer</option>
			<option value='3'>cruiser</option>
			<option value='4'>battleship</option>
		</select>
		<input type="submit" class="button" id="setup-submit-button" name="submit" value="Submit" onclick=""><br/>
	</div>
	<div class="setup-grid">
 		<input class='legend' type='button' value=' ' disabled>
		<% for i in 1..10 %>
			<input class='legend' type='button' value="<%= i %>" disabled>
		<% end %><br/>
		<% for i in "A".."J" %>		
			<input class='legend' type='button' value="<%= i %>" disabled>
			<% for j in 1..10 %>
				<% if current_player_occupied_coordinates.include?("#{i.to_s+j.to_s}".to_sym) %>
					<input class='selected' type='button' value="<%= i.to_s+j.to_s %>" disabled>
				<% else %>
					<input class='coord' type='button' value="<%= i.to_s+j.to_s %>" onclick="togglestyle(this);">		
				<% end %>
			<% end %><br/>
		<% end %><br/>
		<input type='hidden' id='ship_type' name='ship_type' value="submarine">
		<input type='hidden' id='coords' name='coords'>
	</form>
	<script language="javascript">
		function togglestyle(element) {
    		if(element.className == "coord") {
    			element.className="selected";
    			coords.value+=element.value+', ';
    			console.log(coords.value);
    			console.log(element.className);
    		} else {
    			element.className="coord";
    			var new_coords = coords.value.split(', ');
    			remove(new_coords, element.value);
    			coords.value = new_coords.join(', ');
       			console.log(coords.value);
    			console.log(element.className);
    		}
		}

		function remove(array, item) {
      		for(var i = array.length; i--;) {
          		if(array[i] === item) {
              		array.splice(i, 1);
          		}
      		}
  		}
	</script>


