
body {
	line-height: 22px;
	font-family: monospace;
	font-size: 15px;
	letter-spacing: 0px;
	min-width: 1100px;
}

textarea:focus, input:focus{
    outline: 0;
}

*:focus {
    outline: 0;
}

.color-grey {
	color: rgb(175, 175,175);
}

.color-white {
	color: white;
}

.page-title {
	width: 100%;
	height: 42px;
	text-align: -webkit-center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.page-title p {
	font-weight: 800;
	color: blue;
	font-size: 53px;
	font-family: arial;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px black;
	display: block;
	margin-top: 30px;
	margin-bottom: 0px;
}

.session-message-container {
	width: 100%;
	height: 55px;
	text-align: -webkit-center;
	text-align: center;
}

.session-message-container > pre {
	letter-spacing: 0.3px;
	word-spacing: 0.2px;
	font-weight: 500;
	line-height: 26px;
	font-size: 1.15em;
	font-family: arial;
	margin-top: 11px;
}

.button {
	height: 27px;
	width: 65px;
	color: black;
	letter-spacing: 0.4px;
	font-weight: 500;
	border-radius: 3px;
	border: 1px solid rgb(150, 150, 150);
	background-color: rgb(200, 200, 250);
	font-family: arial;
	margin-top: 0px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-left: 2px;
	font-size: 14px;
	line-height: 1px;
}

.button:hover {
	color: blue;
}

#start-button {
	margin-top: 14px;
}

#login-button {
	height: 27px;
}

#next-move-button {
	margin-top: 14px;
	width: 100px;
}

#new-game-button {
	margin-top: 14px;
	width: 100px;
}

.buttons-container {
	width: 100%;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
}

.player-name-box {
	width: 200px;
	height: 20px;
	font-size: 14.2px;
	padding-left: 2px;
	line-height: 16px;
	margin-top: 14px;
	display: inline-block;
	letter-spacing: 0.3px;
	padding-top: 0px;
	padding-bottom: 2px;
}

#setup-button {
	margin-top: 14px;
}

.setup-buttons-container {
	width: 100%;
	height: 65px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 25px;
}

#setup-submit-button {
	margin-top: 14px;
	color: black;
	font-size: 14px;
	width: 80px;
	border-radius: 3px;
	display: inline;
}

#setup-submit-button:hover {
	color: blue;
}

.player_ships_underline {
	height: 1px;
	background-color: rgb(50, 50, 50);
	width: 96px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	margin-bottom: 17px;
}

#start-game-button {
	margin-top: 14px;
	color: black;
	font-size: 14px;
	width: 100px;
	border-radius: 3px;
	display: inline;
}

#start-game-button:hover {
	color: blue;
}

.preview-grid {
	display: inline-table;
	width: 620px;
	height: 460px;
}

.preview-grid > input {
	margin-left: 1px;
	margin-bottom: 1px;
}

.setup-grid {
	display: inline-table;
	width: 620px;
	height: 460px;
}

.setup-grid > input {
	margin-left: 1px;
	margin-bottom: 1px;
}

.play-grid {
	display: inline-table;
	width: 620px;
	height: 460px;
}

.play-grid > form {
	display: inline-table;
}

.play-grid > form > input {
	margin-left: 1px;
	margin-bottom: 1px;
}

.player_ships {
	display: inline-table;
	height: 450px;
	font-family: arial;
	letter-spacing: 1.0px;
	font-weight: 500;
}

.ship {
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 16px;
}

.player_ships_title {
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 1px;
	display: inline-block;
}

.main-body {
	width: 100%;
	height: 560px;
	text-align: -webkit-center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.legend {
	font-size: 12px;
	background-color: blue;
	border-width: medium;
	padding-top: 4px;
	width: 40px;
	height: 40px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	text-align: center;
}

.coord {
	font-size: 12px;
	background-color: blue;
	color: blue;
	border-width: medium;
	padding-top: 4px;
	width: 40px;
	height: 40px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	text-align: center;
}

.value {
	text-align: center;
}

.selected {
	font-size: 12px;
	background-color: orange;
	color: orange;
	border-width: medium;
	padding-top: 4px;
	width: 40px;
	height: 40px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	text-align: center;	
}

.attacked_sunk {
	font-size: 12px;
	background-color: red;
	color: white;
	border-width: medium;
	padding-top: 4px;
	width: 40px;
	height: 40px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	text-align: center;	
}

.attacked_hit {
	font-size: 12px;
	background-color: orange;
	color: white;
	border-width: medium;
	padding-top: 4px;
	width: 40px;
	height: 40px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	text-align: center;	
}

.attacked_miss {
	font-size: 12px;
	background-color: gray;
	color: gray;
	border-width: medium;
	padding-top: 4px;
	width: 40px;
	height: 40px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	text-align: center;
}

#button {
	height: 25px;
	color: black;
	text-align: center;
	line-height: 12px;
	font-size: 12px;
	vertical-align: top;

}

#selected_ship {
	height: 21px;
	color: black;
	text-align: center;
	font-size: 12px;

}

#submit {
	height: 80px;
	color: black;
	font-size: 50px;
	line-height: 7px;
	margin-top: 5px;
}

.text {
	font-size: 13px;
	width: 200px;
	margin-right: 22px;
	margin-left: 7px;
	margin-top: 10px;
	line-height: 15px;
}

.player_status {
	margin-top: 10px;
}
